{% extends "base_with_head.html" %}

{% load static %}

{% block main %}
    <p class='header-1'>Women in Physics Lesson</p>
    <p>
        The goal of this website is to allow students to give completely anonymous responses to survey questions about
         difficulties you might have faced in your classes. Teachers can choose to share these responses to the student
         dashboards or to keep them private, but at no point will a name be associated with a response unless you choose 
         to add it.
    </p>
    <p>If you are a teacher, you can create a class for your students to use or login to the class you have already made.</p>
    <p>If you are a student, you can login using the username that your teacher gave to your class.</p>
    <div class='centered-div'>
        <a href="{% url 'classroom:create' %}"><button class='aps-btn'>Create Class</button></a>
        <a href="{% url 'login' %}"><button class='aps-btn'>Login to Class</button></a>
    </div>
{% endblock %}
