{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/classroom.css' %}">
{% endblock %}

{% block main %}
    {% if person == "teacher" %}
        <p>The posts from your students will appear below and you will have the option to make them available for students to see.</p>
        <hr>
        {% for item in post_list %}
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <a href="{% url 'classroom:view_pdf' item.post_id %}" target="_blank" class='post'>{{ item.name }}'s Profile</a>                          
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    {% if item.hidden == True %}
                        <a href="{% url 'classroom:changestatus' item.post_id %}"><button class='aps-btn'>Post to Students</button></a>
                    {% endif %}
                    {% if item.hidden == False %}
                        <a href="{% url 'classroom:changestatus' item.post_id %}"><button class='aps-btn'>Hide from Students</button></a>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
        <div class="centered-div">
            <a href="{% url 'classroom:reset_student' %}"><button class='aps-btn'>Reset Student Password</button></a>
        </div>
    {% endif %}
    {% if person == "student" %}
        <div class="centered-div">
            <a href="{% url 'classroom:response' %}"><button class='aps-btn'>Create Profile</button></a>
        </div>
        <hr>
        <p>The posts from your fellow classmates will appear below as your teacher makes them available.</p>
        <hr>
        {% for item in post_list %}
            <a href="{% url 'classroom:view_pdf' item.post_id %}" target="_blank" class='post'>{{ item.name }}'s Profile</a>                          
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}
