{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/classroom.css' %}">
{% endblock %}

{% block main %}
    <form action='' method='post'>
        {% csrf_token %}
        <p>Class name:  {{ form.class_name }}</p>
        {% if repeat_c %}
            <p class='error'>This class name is already in use.</p>
        {% endif %}
        <p>Teacher username:  {{ form.teacher_username }}</p>
        <p>Teacher password:  {{ form.teacher_password }}</p>
        <p>Teacher email:  {{ form.teacher_email }}</p>
        {% if repeat_t %}
            <p class='error'>This teacher username is already in use.</p>
        {% endif %}
        <p>Student username:  {{ form.student_username }}</p>
        <p>Student password:  {{ form.student_password }}</p>
        {% if repeat_s %}
            <p class='error'>This student username is already in use.</p>
        {% endif %}
        {% if repeat %}
            <p class='error'>The student and teacher usernames cannot be the same.</p>
        {% endif %}
        <div class="centered-div">
            <input class='aps-btn' type='submit' name='Submit' value='Create Class'/>
        </div>
    </form>
{% endblock %}
