{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/classroom.css' %}">
{% endblock %}

{% block main %}
    <p>Please enter (and confirm) the new password for your student to use.</p>
    <form action="" method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td><p class="error">{{ form.new_password1.errors }}</p>
                    <label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td><p class="error">{{ form.new_password2.errors }}</p>
                    <label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="aps-btn" type="submit" value="Change my password" name="Change my password"/></td>
            </tr>
        </table>
    </form>
{% endblock %}
