{% extends "base_with_head.html" %}

{% load static %}

{% block head %}
    <link rel='stylesheet' href="{% static 'css/classroom.css' %}">
{% endblock %}

{% block main %}
    <form action='' method='post'>
        {% csrf_token %}
        <p>Describe experiences you or a friend have had related to science and gender issues. Who do you feel comfortable working with in class? Do you feel more comfortable in any particular class? Have you felt your abilities being questioned?</p>
        {{ form.response }}
        <div class="centered-div">
            <input class='aps-btn' type='submit' name='Submit' value='Submit'/> 
        </div>
    </form>
{% endblock %}
